@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

header{
	background-color: #FFFFFF;
	padding: 3%;
}

header img{
	background-color: #FFFFFF;
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#testeira{
	background-color: #00d2ff;
	width: 100%;
	height: 100%;
	display: table;
}

#testeira img{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.anuncio-texto{
	background-color: #FFFFFF;
	width: 100%;
	height: 200px;
	display: table;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.anuncio{
	float: left;
	width: 30%;
}

.anuncio img{
	width: 99%;
	height: 100%;
}

.texto{
	float: left;
	text-align: left;
	width: 70%;
	height: 40%;
	background-image: url("img/cachorro-background.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 25%;
	margin: 30px 0px 30px 0px;
	background-color: #FFFFFF;
	display: table;
}

.texto p{
	width: 75%;
	font-weight: 325;
}

.texto h1{
	text-align: left;
	color: #000000;
}

.conjunto-produtos-recentes{
	width: 100%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	background-color: #00d2ff;
	margin: 0px 0px 40px 0px;
	align-items: center;
}

.produtos-recentes{
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

.produtos-recentes img{
	width: 55%;
	margin: 0px auto 0px auto;
}

.titulo-produtos-recentes{
	float: left;
	width: 100%;
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	background-color: #a4a1cc;
}

.produtos-recentes{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.whats-icon{
	position: fixed; bottom: 30px; right: 30px; z-index: 9999;
	
}

.whats-icon img{
	width: 100px;
}

footer{
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	padding: 40px 40px 40px 40px;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}

footer img{
	float: left;
	margin: 0px 30px 0px 30px;
	width: 200px;
	height: 200px;
}

footer .dados-de-contato{
	float: left;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	color: #000000;
}

footer .dados-de-contato #contato{
	margin-left: 28px;
}

footer .redes-sociais{
	float: left;
	font-family: Gotham, "Helvetica Neue", Helvetica,  Arial, sans-serif;
	font-size: 20px;
	color: #000000;
	margin-left: 10%;
}

footer .redes-sociais p{
	margin-left: 25px;
	
}

.whatsapp{
	width: 28px;
	height: 28px;
}

.email{
	width: 28px;
	height: 28px;
}

.instagram{
	width: 32px;
	height: 32px;
}

.facebook{
	width: 32px;
	height: 32px;
}

.cachorroanimacao{
	width: 25%;
	height: 25%;
	
}
/* Retirando o sublinhado do link */
footer a{
	text-decoration: none;
}

/* Cor padrão do link */
footer a:link{
	color: black;
}

/* Cor do link quando já foi visitado */
footer a:visited{
	color: black;
}

/* Cor do link quando passa o mouse por cima */
footer a:hover{
	text-decoration: underline;
}

/* Cor do link quando está clicando nele */
footer a:active{
	color: black;
}










/*
Cor da minha testeira #00d2ff 
Cor do meu cabecalho #FFFFFF
Cor do background #454343


*/